node_modules
src/middleware/emailConfig.ts
.DS_Store
storage/audio/*
storage/photos/*
storage/videos/*
!storage/audio/.gitkeep
!storage/videos/.gitkeep
!storage/photos/.gitkeep
build
.env
config/config.json
!config/.gitkeep
logs/*
storage/audio
!logs/.gitkeep